.cart-items {
    display              : grid;
    grid-template-columns: 30% 70%;
    padding              : 15px;
}

.item-info-wrapper {
    margin-left: 1rem;
}

.item-price {
    color: rgb(66, 99, 243);
}

.item-quantity {
    width          : 75px;
    border         : 1px solid black;
    padding        : 5px;
    display        : flex;
    justify-content: space-around;
}

.item-quantity span {
    cursor: pointer;
    margin: 0;
}

.item-price {
    text-align: right;
}