.product-wrapper {
    margin       : 10px;
    background   : white;
    border-radius: 10px;
    position     : relative;
}

.product-info {
    display        : flex;
    align-items    : center;
    justify-content: space-around;
    padding        : 10px 5px;
}

.product-wrapper p,
span {
    margin: 5px;
}

img {
    width                  : 100%;
    border-top-left-radius : 10px;
    border-top-right-radius: 10px;
}

.description,
.stock {
    display: none;
}

.name {
    font-weight: bold;
}

.price {
    color: rgb(66, 99, 243);
}

.product-favorite {
    position: absolute;
    top     : 10px;
    right   : 10px;
}

.product-section2 {
    text-align: center;
}

.fas.fa-heart {
    color: red;
}

@media (min-width: 1025px) {

    .description,
    .stock {
        display: block;
    }

    .stock {
        margin-left: 5px;
    }

    .product-info {
        flex-direction: column;
    }

    .product-section1 {
        display       : flex;
        flex-wrap     : wrap;
        padding-bottom: 40px;
    }

    .section-1 {
        flex-basis: 80%
    }

    .section-2 {
        flex-basis: 20%;
    }

    .product-section2 {
        display        : flex;
        justify-content: space-between;
        width          : 100%;
        align-items    : center;
        position       : absolute;
        bottom         : 10px;
    }
}