.wrapper-cart-button {
    margin-right: 5px;
}

.wrapper-cart-button span {
    display: none;
}

.wrapper-cart-button button {
    border       : none;
    background   : linear-gradient(90deg, rgba(214, 177, 16, 1) 0%, rgba(247, 177, 17, 1) 34%, rgba(222, 189, 30, 1) 89%);
    color        : white;
    font-weight  : bold;
    padding      : 7px;
    border-radius: 5px;
    cursor       : pointer;
}

@media (min-width: 1025px) {

    .wrapper-cart-button span {
        display: block;
    }

    .wrapper-cart-button button {
        display    : flex;
        align-items: center;
    }
}