.cart-total-amount {
    text-align     : right;
    margin-right   : 15px;
    display        : flex;
    align-items    : center;
    justify-content: flex-end;
}

.cart-payment {
    border-top: 1px solid gray;
    margin    : 0 15px;
}

.cart-payment button {
    width     : calc(100% - 20px);
    border    : none;
    background: linear-gradient(90deg, rgba(214, 177, 16, 1) 0%, rgba(247, 177, 17, 1) 34%, rgba(222, 189, 30, 1) 89%);
    padding   : 10px;
    margin    : 10px;
    color     : white;
}

.cart-total-amount p {
    font-weight: bold;
}

.cart-total-amount span {
    color: orange;
}

.cart-empty {
    text-align     : center;
    height         : 80vh;
    display        : flex;
    flex-direction : column;
    justify-content: center;
}

.cart-empty i {
    font-size: 2rem;
}

@media (min-width: 1025px) {
    .cart {
        position: sticky;
        top     : 0;
    }

    .cart .fa-arrow-left {
        display: none;
    }

    .cart header {
        justify-content: center;
    }
}