.grid>.products {
    display              : grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid {
    background: gainsboro;
}

@media (min-width: 768px) and (max-width: 1024px) {

    .grid>.products {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media (min-width: 1025px) {

    .grid>.products {
        grid-template-columns: repeat(4, 1fr);
        padding              : 50px;
    }

    .grid header {
        justify-content: center;
    }

    .grid .wisthlist-link,
    .grid .fa-arrow-left {
        display : block;
        position: absolute;
        left    : 50px;
    }
}