header {
    background     : white;
    padding        : 15px 0;
    margin-bottom  : 10px;
    text-align     : center;
    display        : flex;
    justify-content: space-around;
    align-items    : center;
    position       : sticky;
    top            : 0;
    z-index        : 1;
}

header i {
    font-size: 1.5rem;
}

header a {
    text-decoration: none;
}

@media (min-width: 1025px) {

    .cart-link,
    .wisthlist-link {
        display: none;
    }
}