.store-wrapper {
    width   : 100%;
    position: relative;
}

.cart-wrapper {
    position: sticky;
    top     : 0;
}

.cart-wrapper {
    display: none;
}

@media (min-width: 1025px) {

    .cart-wrapper {
        display: block;
    }

    .store-wrapper {
        display              : grid;
        grid-template-columns: 75% 25%;
    }
}